@import "helpers/lessmix.less";
/*@import "helpers/normalize.less";*/
@import "helpers/variable.less";
@import "helpers/technical.less";
@import (css) '../css/tech.css';

@phone: ~"only screen and (max-width: 320px)";
@minheight: ~"only screen and (max-height: 470px)";

.form-control {
    input& {
        border-radius: 0;
        border-color: transparent;
    }
}
.btn {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    border-radius: 6px;
    border-color: transparent;
}
.mgtskKey {
    &.form-control {
        background-image: data-uri('../img/mgtsk-key.png');
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-position: ~'-webkit-calc(100% - 5px)' 50%;
        background-position: ~'calc(100% - 5px)' 50%;
        padding-right: 22px;
    }
}
.col {
    padding: 0 round(0.625 * @em);
}
.js-file-input-container {
    &,
    > * {
        cursor: pointer;
    }
    &:hover,
        &.hover {
        .opacity(1);
    }
}

img {
    max-width: 100%;
}
.shrinked {
    body& {
        min-width: round(320/16 * @em);
    }
    .page-work-width {
        max-width: 100%;
    }
    .mgt-wr {
        margin: auto !important;
    }
    > .page-work-width {
        height: 100%;
    }
}
.mgt {
    line-height: 1.2;
    box-shadow: 0 0 round(8/16 * @em) 0 fadeout(@black, 75%);
    position: relative;
    &-drag {
        &-hidden {
            .mgt-file-drag {
                display: none;
            }
        }
    }
    &-wr {
        padding-top: round(8/16 * @em);
        padding-bottom: round(20/16 * @em);
        background-image: data-uri('../img/mgt-after.png');
        background-position: 50% 100%;
        background-repeat: no-repeat;
        width: round((@pageWorkWidth/16)*6);
        @media @phone {
            width: round(320/16 * @em) !important;
        }

        .clear();
        float: none !important;
        &.mgt-single {
            top: 50%;
            .transform(translateY(-50%));
            position: relative;
            @media @minheight {
                top: 0;
                .transform(translateY(0));
            }
        }
    }
    padding: round(16/16 * @em) round(20/16 * @em);
    background-color: @siteColor2;
    &-title {
        font-weight: bold;
        font-size: round(18/16 * @em);
        color: @black;
    }
    &-subtitle {
        font-size: round(12/16 * @em);
        color: @siteColor4;
    }
    &-input,
    &-button {
        box-shadow: none;
        -webkit-appearance: none;
        text-decoration: none;
        display: inline-block;
        border: none;
        line-height: 1;
        font-family: @siteFontFamily;
    }
    &-input {
        &-wr {
            margin: round(9/16 * @em) 0;
            &-hr {
                border-top: 1px solid @siteColor3;
                margin: round(21/16 * @em) 0;
            }
        }
        border-radius: 0;
        font-size: round(14/16 * @em);
        line-height: 1;

        width: 100%;
        background-color: @white;
        height: round(34/16 * @em);
        border: 1px solid @siteColor3;
        padding: 0 round(17/16 * @em);

        color: @black;
        .transition(background 400ms cubic-bezier(.33,1.05,.57,1.29));
        &-valid {
            color: @siteColor1;
            background-color: hsl(hue(@siteColor1) + 20, saturation(@siteColor1) + 16, lightness(@siteColor1) + 60);
        }
        &-error {
            color: @siteColorE;
            background-color: hsl(hue(@siteColorE), saturation(@siteColorE) + 50, lightness(@siteColorE) + 37);
        }
        &-disabled {
            background-color: @siteColor3 - 13;
            cursor: default;
            &:focus {
                outline: none;
            }
        }
        &::-webkit-input-placeholder {
            line-height: 1.4;
        }
        &::-moz-input-placeholder {
        }
    }
    &-button {
        font-size: round(18/16 * @em);
        font-weight: bold;
        text-align: center;
        background: @siteColor1;
        .rounded(round(2/16 * @em));
        width: 100%;
        height: round(38/16 * @em);
        line-height: round(38/16 * @em);
        .transition(background 400ms cubic-bezier(.33,1.05,.57,1.29));
        &,
        &:visited,
            &:hover,
            &:active {
            color: @white;
        }
        &:hover {
            background: hsl(hue(@siteColor1), saturation(@siteColor1) - 20, lightness(@siteColor1) + 9);
        }
        &:active {
            background: hsl(hue(@siteColor1), saturation(@siteColor1) + 1, lightness(@siteColor1) - 6);
        }
        &.mgt-disabled {
            background: @siteColor3;
            cursor: default;
            &,
            &:hover,
                &:active,
                &:visited {
                color: @siteColor5;  
            }
        }
    }
    &-textarea {
        padding: round(11/16 * @em) round(17/16 * @em);
        height: 3*1.2em + 2em;
    }
    &-file {
        color: @siteColor5;
        @w: round(1 * @em);
        position: relative;
        padding-left: @w + round(6/16 * @em);

        &-link {
            font-size: round(14/16 * @em);
            color: @siteColor5 !important;
            position: relative;
            display: block;
            cursor: pointer;
            .transition(color 300ms cubic-bezier(.33,1.05,.57,1.29));
            &:hover {
                color: darken(@siteColor5, 10%) !important;
            }
            &:before {
                content: '';
                .square(@w);
                background-image: data-uri('../img/mgt-file.png');
                display: block;
                position: absolute;
                top: 0;
                left: round(-1.3125 * @em);
            }
            input[type="file"] {
                position: absolute;
                font-size: 0;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                .opacity(0);
                width: 100%;
                /*z-index: 2;*/
            }
            &-text {
                border-bottom: 1px dotted @siteColor5;
                display: inline-block;
                margin-bottom: round(2/16 * @em);
            }
        }
        &-desc {
            font-size: round(11/16 * @em);
        }
        &-type {
            @w: 30px;
            @h: 27px;
            padding-left: @w + round(1 * @em);
            font-size: round(12/16 * @em);
            background-position: 0 50%;
            background-repeat: no-repeat;
            position: relative;
            margin: round(10/16 * @em) 0 ;
            min-height: @h;
            &-wr {
                padding-left: round(6/16 * @em);
                margin: round(18/16 * @em) 0 round(22/16 * @em);
            }
            &-name {
                color: @siteColor4;
            }
            &-value {
                color: @siteColor5;
                &-act {
                    color: @siteColor4;
                }
            }
            &-progress {
                &-wr {
                    position: relative;
                    height: round(3/16 * @em);
                    width: round(100/16 * @em);
                    display: inline-block;
                    background-color: @black + 194;
                    box-shadow: 
                        inset 0 0 0px 1px fadeout(@black, 95%),
                        inset 0 -1px 0px 1px fadeout(@black, 85%);
                    vertical-align: middle;
                    margin-right: round(6/16 * @em);
                }
                background-color: @siteColor6;
                box-shadow: 
                    inset 0 0 0px 1px fadeout(@black, 95%),
                    inset 0 -1px 0px 1px fadeout(@black, 85%);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
            }
            &-trash {
                position: absolute;
                right: 0;
                top: 0;
                @w: round(10/16 * @em);
                .square(@w);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-image: data-uri('../img/mgt-file-garbage.png');
            }
            &-svg {
                &-icon {
                    width: 31px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    path {
                        fill: @siteColor5 - 6;
                    }
                }
            }
            .bgImg(@img) {
                &-@{img} {
                    background-image: data-uri('image/png;base64', '../img/mgt-file-type-@{img}.png');
                }
            }
            .bgImg(png);
            .bgImg(doc);
            .bgImg(temp);
        }
        &-drag {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: fadeout(@black, 38%);
            padding: round(18/16 * @em);
            &-input {
                color: @white;
                font-size: round(18/16 * @em);
                font-weight: bold;
                /*width: 100%;*/
                text-align: center;

                .rounded(round(6/16 * @em));
                height: round(39/16 * @em);
                line-height: round(39/16 * @em) - 4px;
                position: absolute;
                right: round(18/16 * @em);
                left: round(18/16 * @em);
            }
        }
    }
    &-bordered {
        border: 2px dashed @white;
    }
    &-technology {
        color: @siteColor4 + 78;
        font-size: round(12/16 * @em);
        text-align: center;
        &-link {
            text-decoration: underline;
            &,
            &:visited {
                color: @siteColor4 + 78;
            }
            &:hover {
                color: @siteColor4 + 88;
            }
            &:active {
                color: @siteColor4 + 68;
            }
        }
    }
    &-text {
        font-size: round(14/16 * @em);
        margin: round(14/16 * @em) 0;
        color: @siteColor4;
        &-strong {
            font-weight: bold;
            margin: 2em 0;
        }
    }
    &-loader {
        &-animation {
            @w: round(5/16 * @em);
            @h: round(7/16 * @em);
            @t: 750ms;
            position: relative;
            /*width: @w;*/
            margin: @h auto;
            font-size: 0;
            letter-spacing: -4px;
            text-align: center;
            &-item {
                .animation(mgt-fade-out @t 0s cubic-bezier(.33,1.05,.57,1.29) alternate none infinite running);
            }
            &-item {
                display: inline-block;
                font-size: 0;
                width: @w;
                height: @h;

                box-shadow: inset 0 0 0 1px fadeout(@siteColor3, 50%);
                background-color: fadeout(@white, 50%);

                margin-right: round(0.5 * @w);
                &:last-child {
                    margin-right: 0;
                }
                /*position: absolute;*/
                top: 0;
                .numb(@num) {
                    &-n@{num} {
                        @n: unit(@num) - 1;
                        /*left: round(@n * @w) + @n * round(0.5 * @w);*/
                        -webkit-animation-delay: round(@num * 0.14 * @t);
                        animation-delay: round(@num * 0.14 * @t);
                    }
                }
                .numb(1);
                .numb(2);
                .numb(3);
                .numb(4);
                .numb(5);
                .numb(6);
                /*        &-n1 {
                          -webkit-animation-delay: round(0 * 0.14 * @t);
                          -animation-delay: round(0 * 0.14 * @t);
                        }*/
            }
        }
    }

    &-ext {
        &-popup {
            min-width: 0;
            padding-bottom: @em;
            .mgt-wr {
                background-image: none;

            }
        }
    }
}
.mgt-fade-out-animation() {
    0%   { 
        /*.opacity(0.5);*/
        box-shadow: inset 0 0 0 1px fadeout(@siteColor3, 50%);
        background-color: fadeout(@white, 50%);
    }
    50%  { 
        /*.opacity(0);*/
        /*.transform(scale(0.8) translate3d(0,0,0));*/
        box-shadow: inset 0 0 0 1px fadeout(@siteColor3, 100%);
        background-color: fadeout(@white, 100%);
    }
    100% { 
        /*.opacity(0.5);*/
        box-shadow: inset 0 0 0 1px fadeout(@siteColor3, 50%);
        background-color: fadeout(@white, 50%);
    }
}
@-webkit-keyframes mgt-fade-out { .mgt-fade-out-animation()  }
@-moz-keyframes mgt-fade-out { .mgt-fade-out-animation()  }
@-o-keyframes mgt-fade-out { .mgt-fade-out-animation()  }
@keyframes mgt-fade-out { .mgt-fade-out-animation()  }