@import "helpers/lessmix.less";
@em: 16px;
@black: #000;
@white: #fff;
@chklColor: #86a73f;
body{
    /*background: fadeout(#7ab7ab,87%) !important;*/
}
.chkl {
    &-csvfile {
        display: none;
        visibility: hidden;
        &.show {
            display: block;
            visibility: visible;
            .transition(visibility 300ms linear);
        }
    }
    &-wrapper {
        display: inline-block;
        background: @chklColor;
        vertical-align: middle;
        position: relative;

        z-index: 100;
        .chkl-cont {
            .opacity(0);
            visibility: hidden;
            @t: ~'opacity 300ms linear, visibility 0ms 300ms linear ';
            .transition(@t);
        }
        &.visible {
            .chkl-cont {
                .opacity(1);
                visibility: visible;
                @t: ~'opacity 300ms linear, visibility 0ms 0ms linear';
                .transition(@t);
            }
        }
    }
    &-link {
        @w: 18px;
        display: inline-block;
        .square(@w);
        text-align: center;
        font-size: 0;
        overflow: hidden;
        .glyphicon {
            color: @white;
            font-size: 12px;
            line-height: @w;
            vertical-align: middle;
        }
        &-mgtsk {
            display: block;
            width: 113px;
            height: 15px;
            margin: 16px auto 0;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: data-uri('../img/mgtsk-logo.png');
            .opacity(0.2);
        }
        &-settask {
            width: 100%;
            background: fadeout(@white, 75%);
            font-size: 0;
            line-height: 26px;
            .glyphicon {
                font-size: 16px;
                vertical-align: middle;
            }
            display: block;
            text-align: center;
            margin: 16px -16px -16px;
            position: relative;
            width: 115%;
            width: ~'-webkit-calc(100% + 32px)';
            width: ~'calc(100% + 32px)';
            &,
            &:hover,
                &:focus,
                &:active,
                &:visited {
                color: @white;
                text-decoration: none;
            }
        }
    }
    &-cont {
        padding: 16px;
        position: absolute;
        top: 100%;
        left: 0;
        background: @chklColor;
        .mgt-file-drag {
            background: none;
            position: relative;
            min-width: 230px;
            padding: 0;
            cursor: pointer;
            .opacity(0.2);
            &:hover,
                &:focus,
                &:active {
                .opacity(1);
            }
        }
        .mgt-file-drag-input {
            position: relative;
            right: 0;
            left: 0;
            min-height: 35px;
            height: auto;
            border-radius: 0;

        }
    }
    &-list {
        padding: 0;
        margin: 0;
        &-item {
            list-style: none;
            color: @white;
            border-bottom: 1px solid @white;
            padding: 12px 0;
            &:last-child {
                border-bottom: none;
            }
            &-title {
                font-size: 13px;
            }
            &-desc {
                font-size: 11px;
                .opacity(0.9);
            }
        }
    }
}

.mp {
    &-technical {
        margin: @em;
    }
    &-btn {
        border: none;
        @h: 28;
        display: inline-block;
        color: @white;
        font-weight: bold;
        text-shadow: 0 0 round(2/16 * @em) @black + 51;

        line-height: unit(@h, px);
        height: unit(@h, px);
        padding: 0 round(20/16 * @em);
        margin:  round(2/16 * @em) 0 round(5/16 * @em);

        border-radius: unit(@h/2, px);

        .user-select(none);
        cursor: pointer;
        position: relative;

        .transition(background 100ms linear);
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            bottom: (100 - 55%);
            @p: round(0.35 * @em);
            right: @p;
            left: @p;
            #gradient > .vertical(fadeout(@cOverlay, (100% - 90)), fadeout(@cOverlay, (100% - 5)));
            border-radius: unit(@h/2, px);

            .opacity(1);
            .transition(opacity 50ms linear);
        }
        &.active,
        &:active {
            &:before {
                .opacity(0);
            }
        }
        &:focus {
            outline: none;
        }
        &-text {
            position: relative;
            .mp-btn.loading & {
                color: transparent;
                text-shadow: none;
                &:before {
                    content: url('data:image/gif;base64,R0lGODlhIQAFAPMPAISuSHmnOFqTC/X48F6WEb/VoGaaHKTDeGmcIHWlM4ewTXOjMImxUKnHgP///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAPACwAAAAAIQAFAEAEVVCghcR7ZIFFrmEHY1xBMRSBB4oSZWEap4bjU57p89FL4i8XgGIIuBwayMNl4GgOjMjGAeFLIC6LoQL4YEQZl0LTUbh4kQyq7/rIDrnnBvghbpa73wgAIfkEBQoADwAsAAAAACEABQAABFPQsMPMewItJC5ZwEJcEmU9QTEUAdO8zIUkNHItSr5cLnwVjmDh8GocbrTE7gHIKQAX4uv4GAQdg14j9pjVbs6llgsUliqXzKbz+IRGj/MptQpEAAAh+QQFCgAPACwAAAAAIQAFAAAETzCUUcJ7hh1mrkALIlzEAizElW1G4bzFxTQ0cyFJjlyL4i8yWoMxeDkGl4PwwMslgA+ATwFILl2wYO3m3D16P+1QQrFgNBwPSEQyoVRoQwQAIfkEBQoADwAsAAAAACEABQAABFTQsMPMe6GMEq6k1iMgCyJcxAIsBNO8zFU4dHG58IUkPHItiuDi8GocLgOaY3Ahvo6PBS+xuACCCgCuEXvMardid9f7YRefyiWz6TzSoVHp9EitCBEAIfkEBQoADwAsAAAAACEABQAABFGQLLDIe4YdZm4oQxFc2dY9ArIgwqK8y8U0NHMVTl7IdGM/iIQQAXgpAJdD73AZ5ByD5PKyECYWLhivdnvuHjMu0IqQUCwYDccDEpHUp9RKEAEAOw==');
                    /*content: url('data:image/gif;base64,R0lGODlhEAALAPQAAAYGBi4uLgAAACIiIoKCgmBgYEpKSrq6uubm5tjY2O7u7tDQ0Orq6tra2iYmJgQEBE5OToqKimRkZL6+vvT09Dg4OPLy8ra2tqCgoNzc3MrKyv///wAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCwAAACwAAAAAEAALAAAEKRDISau9tOkmNwdewzCLtIwlcJJr2proq6IwS89kvch8vKeezgZDLFYiACH5BAkLAAMALAAAAAAEAAsAAAIMhGQRp7zS4It0LoMKACH5BAkLAAAALAAAAAAKAAsAAAMkCLojMqQUooQxopxT6s1bB1iYxnlliILn+JkiycZfNK0L4wwJACH5BAkLAAAALAYAAAAKAAsAAAUrICCOzvM4kSRF4gNBjzRNUvvGcw24sEzbvRwQ99vdfDoeMXlLrYYjkskRAgAh+QQJCwAAACwGAAEACgAJAAAFJiAgjtUwVEiSIOIAQUNCUUn7xnMNuLBM270cEPfb3VKr4YhkqoQAACH5BAULAAAALAAAAgAQAAcAAAUtIJNlDACIpHlh2JVZVma+sYlpGkbLwG7jOhjPB7jliERjsNYT/nKo0mkkXbVCACH5BAUWAAAALAAAAgAQAAcAAAQiEKWEAJDUYqlUskn3AaFXjicopqSomm7rvVPMnps2VdceAQA7');*/
                    position: absolute;
                    right: 0;
                    left: 0;
                    margin: auto;
                }
            }
        }
        &_expect {
            border-radius: 2px;
            &:before {
                content: none;
            }
            background: #3eb567;
            box-shadow: inset 0 1px 0 0 #4e9b5d;
            text-shadow: none;
            height: 34px;
            &:hover {
                box-shadow: inset 0 -1px 0 0 #4e9b5d;
            }
            &:active {
                background: #3ca050;
                box-shadow: inset 0 -1px 0 0 #328b43;
            }
            &:focus {

            }
        }
        .colorButton(@chklColor, default);
        .colorButton(hsl(27,100%,30%), rred);
        .colorButton(hsl(310,100%,40%), kitty);
        .colorButton(@cBase, @name) {
            /*@cBase: hsl(107,100%,30%);*/
            @cBaseHue: hue(@cBase);
            @cBaseSat: saturation(@cBase);
            @cBaseLight: lightness(@cBase);

            @cBorderTop: hsl(@cBaseHue - 19, @cBaseSat, @cBaseLight + 9);
            @cBorderBottom: hsl(@cBaseHue, @cBaseSat, @cBaseLight - 8);
            @cBg: @cBase;
            @cInsetShadow: hsl(@cBaseHue,@cBaseSat,@cBaseLight + 4);

            @cBgHover: hsl(@cBaseHue,@cBaseSat,@cBaseLight + 3);
            @cInsetShadowHover: hsl(@cBaseHue,@cBaseSat,@cBaseLight + 6);

            @cBgActive: hsl(@cBaseHue,@cBaseSat,@cBaseLight - 1);

            @cOverlay: hsl(@cBaseHue - 40, @cBaseSat - 33, @cBaseLight + 51);
            &_@{name} {
                background: @cBg;
                box-shadow: 
                    0 -1px 0 0 @cBorderTop,
                    0 1px 0 0 @cBorderBottom,
                    0 3px 2px 0 fadeout(darken(@cBg, 5%), 55%),
                    inset 0 0 4px 4px @cInsetShadow;
                &.hover,
                &:hover {
                    background: @cBgHover;
                    box-shadow: 
                        0 -1px 0 0 @cBorderTop,
                        0 1px 0 0 @cBorderBottom,
                        0 3px 2px 0 fadeout(darken(@cBg, 5%), 55%),
                        inset 0 0 4px 4px @cInsetShadowHover;
                }
                &.active,
                &:active {
                    background: @cBgActive;
                    box-shadow: 
                        0 1px 0 0 @cBgActive,
                        0 2px 1px 0 fadeout(darken(@cBg, 5%), 55%),
                        inset 0 4px 4px 0px fadeout(@black, 75%);
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }

}