/*@import "helpers/normalize.less";*/
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts55f_w.eot');
  src: local('PT Sans'), url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F_W.woff') format('woff'), url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url('../fonts/pts56f_w.eot');
  src: local('PT Sans Italic'), url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F_W.woff') format('woff'), url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F_W.woff') format('woff'), url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/pts76f_w.eot');
  src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F_W.woff') format('woff'), url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}
.inline-no-float {
  font-size: 0;
  letter-spacing: -4px;
}
.inline-no-float [class*=col] {
  float: none;
  letter-spacing: normal;
  display: inline-block;
  font-size: 14px;
}
.row {
  width: 100%;
}
.options-wrapper {
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#a0cc3a), to(#74b042));
  background-image: -webkit-radial-gradient(circle, #a0cc3a, #74b042);
  background-image: -moz-radial-gradient(circle, #a0cc3a, #74b042);
  background-image: -o-radial-gradient(circle, #a0cc3a, #74b042);
  background-color: #8ec13d;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 170px;
  min-height: 270px;
  position: relative;
}
.options-logo-wrapper {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.options-logo-link {
  display: inline-block;
}
.options-center {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
html,
body {
  min-height: 100%;
  height: 100%;
  height: 100vh;
}
.row.no-padding [class*=col] {
  padding: 0;
}
/*# sourceMappingURL=options.css.map */